@use '../../styles/variables' as *;

.grid {
  margin-bottom: $spacing-md;

  .card {
    transition: transform 0.3s ease;
  }

  &:hover .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  &:hover > .card:not(:hover) {
    opacity: 0.8;
  }
}
