.grid {
  display: grid;
  width: 100%;
  grid-auto-flow: dense;
  row-gap: var(--grid-gap, 1rem);
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap, 1rem);
    grid-auto-flow: dense;

    > * {
      grid-column: auto;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(var(--grid-columns, 4), 1fr);
    grid-auto-flow: dense;
  }
}